#navbar{
    justify-content:right;
    background-color:brown;
    padding-bottom: 5%;
    
}
#navbar1{
    
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    
  
    
}